.conversation-list {
  
}

.conversation-list {
  overflow-y: auto;
  padding-left: 6px;
  padding-bottom: 24px;
  max-height: calc(100vh - 80px);
}

/* Define a style for the track */
.conversation-list::-webkit-scrollbar {
  width: 8px;
}

/* Define a style for the handle or thumb */
.conversation-list::-webkit-scrollbar-thumb {
  background-color: #43a4ff; /* Change the color as needed */
  border-radius: 4px;
}

/* Define a style for the track */
.conversation-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Change the color as needed */
}

/* Optional: Change the appearance on hover */
.conversation-list::-webkit-scrollbar-thumb:hover {
  background-color: #006bb3; /* Change the color as needed */
}

/* Optional: Change the appearance when dragging */
.conversation-list::-webkit-scrollbar-thumb:active {
  background-color: #2574c3; /* Change the color as needed */
}

.no-conversation {
  color: #999;
  font-weight: 400;
  text-align: center;
}