html {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@for $i from 0 through 20 {
    $value: $i * 4px;

    .m-#{$i} {
        margin: $value !important;
    }

    .mt-#{$i} {
        margin-top: $value !important;
    }

    .mr-#{$i} {
        margin-right: $value !important;
    }

    .mb-#{$i} {
        margin-bottom: $value !important;
    }

    .ml-#{$i} {
        margin-left: $value !important;
    }

    .mx-#{$i} {
        margin-left: $value !important;
        margin-right: $value !important;
    }

    .my-#{$i} {
        margin-top: $value !important;
        margin-bottom: $value !important;
    }

    .p-#{$i} {
        padding: $value !important;
    }

    .pt-#{$i} {
        padding-top: $value !important;
    }

    .pr-#{$i} {
        padding-right: $value !important;
    }

    .pb-#{$i} {
        padding-bottom: $value !important;
    }

    .pl-#{$i} {
        padding-left: $value !important;
    }

    .px-#{$i} {
        padding-left: $value !important;
        padding-right: $value !important;
    }

    .py-#{$i} {
        padding-top: $value !important;
        padding-bottom: $value !important;
    }
}

@for $i from 0 through 20{
    $value: $i * 5px;
    .brtr-#{$i} {
        border-top-right-radius: $value !important;
    }
    .brtl-#{$i} {
        border-top-left-radius: $value !important;
    }
    .brbr-#{$i} {
        border-bottom-right-radius: $value !important;
    }
    .brbl-#{$i} {
        border-bottom-left-radius: $value !important;
    }
    .br-#{$i} {
        border-radius: $value !important;
    }    
}

.m-auto {
    margin: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100% !important;
}

.max-width-100 {
    max-width: 100%;
}

.max-height-100 {
    max-height: 100%;
}

.max-height-320 {
    max-height: 320px;
}

.w-unset {
    width: unset !important;
}

.mw-32 {
    min-width: 32px !important;
}

.mw-unset {
    min-width: unset !important;
}

.w-220 {
    width: 220px;
}

.w-320 {
    width: 320px;
}

.h-100 {
    height: 100% !important;
}

.mh-100 {
    min-height: 100% !important;
}

.h-150 {
    height: 150px !important;
}

.h-88 {
    height: 88px !important;
}

.w-auto {
    width: auto !important;
}

.h-320 {
    height: 320px;
}

.h-100vh {
    height: 100vh !important;
}

.h-100vh-80 {
    height: calc(100vh - 80px);
}

.h-500 {
    height: 500px !important;
}

.h-700 {
    height: 700px;
}

.h-800 {
    height: 800px;
}

.h-48 {
    height: 48px;
}

.h-70 {
    height: 70px;
}

.h-32 {
    height: 32px;
}

.h-56 {
    height: 56px;
}

.flex-center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.flex-1 {
    flex: 1;
}

// display
.display-none {
    display: none;
}

.display-block {
    display: block;
}

.flex {
    display: flex;
    flex-direction: row !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-middle {
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

// postions
.position-relative {
    position: relative;
}

.position-bottom {
    position: absolute;
    bottom: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-middle {
    vertical-align: middle;
}

.x-center {
    left: 50%;
    transform: translateX(-50%);
}

.y-center {
    top: 50%;
    transform: translateY(-50%);
}

.pointer {
    cursor: pointer;
}

// .border-right {
//   border-right: 1px solid #000 !important;

// }

@for $i from 0 through 10 {
    $value: $i * 4px;

    .gap-#{$i} {
        gap: $value !important;
    }
}

.br-10 {
    border-radius: 10px !important;
}

.br-50p {
    border-radius: 50% !important;
}

.over-hidden {
    overflow: hidden !important;
}

.over-scroll {
    overflow: scroll !important;
}

.overx-hidden {
    overflow-x: hidden !important;
}

.overy-hidden {
    overflow-y: hidden !important;
}

.max-z-index{
    z-index: 10000;
}

