.messenger {
  display: grid;
  width: 100%;
  background: #eeeef1;
  height: 100%;
  grid-template-columns: 350px auto 350px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

@media (max-width: 992px) {
  .messenger {
    grid-template-columns: 350px auto;
  }
}