.info-list {
    display: none;
    flex-direction: column;
    align-items: center;
}

.info-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.info-name {
    margin-top: 10px;
    font-size: 16;
    font-weight: 500;
}
.no-info {
  color: #999;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}