.info-list {
  display: none;
  flex-direction: column;
  align-items: center;
}

.info-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.info-name {
  margin-top: 10px;
  font-size: 16;
  font-weight: 500;
}
.info-description {
  margin-bottom: 10px;
  font-size: 16;
  font-weight: 400;
  font-style: italic;
}
.no-info {
  color: #999;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.participant-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  transition: all linear 0.1s;
}

.participantListItemWrapper {
  border-radius: 6px;
  height: 100%;
}

.participant-list .flex-column {
  background-color: #f9fbff;

}

.participant-list-item:hover {
  background-color: #f4f7ff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.participant-list-item--chosen {
  background-color: #f4f7ff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 6px;
}

.participants-container {
  overflow-y: auto;
  max-height: 300px;
}

.participants-container::-webkit-scrollbar {
  width: 8px;
}

/* Define a style for the handle or thumb */
.participants-container::-webkit-scrollbar-thumb {
  background-color: #43a4ff; /* Change the color as needed */
  border-radius: 4px;
}

/* Define a style for the track */
.participants-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Change the color as needed */
}

/* Optional: Change the appearance on hover */
.participants-container::-webkit-scrollbar-thumb:hover {
  background-color: #006bb3; /* Change the color as needed */
}

/* Optional: Change the appearance when dragging */
.participants-container::-webkit-scrollbar-thumb:active {
  background-color: #2574c3; /* Change the color as needed */
}

.participant-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.participant-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.participant-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
  width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.participant-timestamp {
  color: #99999988;
  font-weight: 500;
  font-size: 12px;
}

.list-item{
  display: flex;
  align-items: center;
  padding: 6px 0px 6px 10px;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  transition: all linear 0.1s;
}

.list-item:hover{
  background-color: #DDDDDD;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}