.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  transition: all linear 0.1s;
}

.conversationListItemWrapper {
  border-radius: 6px;
  height: 100%;
}

.conversation-list .flex-column {
  background-color: #f9fbff;

}

.conversation-list-item:hover {
  background-color: #f4f7ff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.conversation-list-item--chosen {
  background-color: #f4f7ff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 6px;
}

.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.conversation-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.conversation-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
  width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversation-timestamp {
  color: #99999988;
  font-weight: 500;
  font-size: 12px;
}