.friendBlock {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.friendBlock:hover {
  transform: scale(1.02);
}

.friendBlock img {
  width: 100%;
  height: 240px;
  display: block;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.friendInfo {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  transition: background 0.3s ease;
}

.friendName {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  color: black;


  text-align: center;
  color: #000;
  font-size: 14px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.buttonContainer {
  margin-top: 10px;
}

.buttonContainer button {
  cursor: pointer;
  background-color: #046bc0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background 0.2s ease;
}

.buttonContainer button:hover {
  background-color: #0921be;
}