.conversation-search {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
}

.conversation-search-input {
  background: #f4f4f8;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  width: 80%;
}

.conversation-search-input::placeholder {
  text-align: center;
}

.conversation-search-input:focus::placeholder {
  text-align: left;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 24;
  padding: 15px;
  border-radius: 5px;
}